#page-header {
  padding: 1rem 0 1.5rem;
  &-heading {
    font-weight: 700;
  }
}

#page-footer {
  width: 90vw;
  text-align: center;
  padding: 0.5rem 0;
  a:link,
  a:visited,
  a:active {
    color: inherit;
  }
  a:hover {
    color: inherit;
    text-decoration: underline;
  }
  @media screen and (min-height: 920px) {
    position: fixed;
    bottom: 0;
  }
}
